.img-fluid{
  cursor: pointer;
  transition: 0.6s;
}

.img-fluid:hover{
  transform: scale(1.1);
}

/* Adicione estas regras CSS no seu arquivo de estilo CSS personalizado */

.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Espaçamento superior para melhorar a aparência */
}

.custom-pagination .page-link {
  background-color: #007bff; /* Cor de fundo dos botões */
  color: #fff; /* Cor do texto dos botões */
  border: none; /* Remova as bordas */
  margin: 0 2px; /* Espaçamento entre os botões */
  min-width: 36px; /* Largura mínima dos botões */
  height: 36px; /* Altura dos botões */
  line-height: 36px; /* Centralize o texto verticalmente */
  border-radius: 50%; /* Transforme os botões em círculos */
  font-weight: bold;
  font-size: 16px;
}

.custom-pagination .page-link:hover {
  background-color: rgb(33, 24, 203); /* Cor de fundo dos botões ao passar o mouse */
  color: #fff; /* Cor do texto dos botões ao passar o mouse */
}

/* Estilo para telas pequenas (responsivo) */
@media (max-width: 768px) {
  .custom-pagination .page-link {
    min-width: auto; /* Remova a largura mínima para ocupar o espaço disponível */
    padding: 0 10px; /* Adicione espaço interno para melhorar a aparência */
  }
}